<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <a mat-raised-button class="actions-main" color="primary" (click)="getPatientsList()">
        {{ 'stms.patients.get-patients' | translate }}
      </a>
    </div>
    <div style="height: 500px; width: 1000px">
      <ag-grid-angular
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [rowData]="rowData$ | async"
              [animateRows]="true"
              [context]="context"
              style="width: 100%; height: 100%"
              class="ag-theme-alpine">
      </ag-grid-angular>
    </div>
  </div>
</div>
