<div class="container" rtl>
    <div class="row">
        <div class="col">
            <h1 class="main-heading pt-2 mb-4">{{ 'stms.favorites.title' | translate }}</h1>
        </div>
    </div>
    <div class="row" [ngClass]="routeAnimationsElements">
        <ag-grid-angular
                class="ag-theme-material data-grid"
                [columnDefs]="columnDefs"
                [defaultColDef]="defaultColDef"
                [rowData]="rowData$ | async"
                [animateRows]="true"
                [context]="context"
                (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
</div>
